@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&family=Protest+Riot&display=swap');

html, body {margin: 0; height: 100%; overflow: hidden; background-color: #f1f1f1}

h1{
  font-family: 'Merriweather', serif !important;
}

@media (min-width: 768px) {
  /* Adjust carousel-item for 5 items */
  .carousel-inner .carousel-item {
    margin-right: 0;
    flex: 0 0 20%; /* Each item will take up 20% of the container width */
    max-width: 20%; /* Each item will take up 20% of the container width */
  }

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  /* Ensure that 5 items are visible */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
}
